.site-brand-wrapper {
  position: relative;
}

.site-meta {
  padding: 20px 0;
  color: white;
  background: $black-deep;

  @include tablet() {
    box-shadow: 0 0 16px rgba(73, 200, 132, 1.0);
  }
  @include mobile() {
    box-shadow: 0 0 16px rgba(73, 200, 132, 1.0);
  }
}

.brand {
  padding: 0;
  background: none;

  &:hover { color: white; }
}

.site-subtitle {
  margin: 10px 10px 0;
  font-weight: initial;
}

.site-search form { display: none; }
